.signup-wrapper {
  max-width: 400px;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin-top: 3rem;
}

.title {
  font-weight: 600;
  font-size: 1.3rem;
}

.p-login {
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem;
  cursor: pointer;
}
