#textedior {
  padding: 2rem 7rem;
  border-radius: 10px;
  margin: 1rem auto;
}

.rich-editor {
  background: white;
  padding: 1rem;
  border-radius: 10px;
}

.jodit-editor {
  width: 100%;
  min-height: 900px !important;
}

.jodit-wysiwyg {
  min-height: 400px !important;
}

@media (max-width: 768px) {
  #textedior {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .rich-editor {
    padding: 0.5rem;
  }
}
